<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="index.css" /> 
	<title>宝贝详情</title>
	
</head>
<body>
	<p>北理小区Lv.5</p>
	<hr>
	<div id="content">
		<div class="picc">
			<div class="pic">
				<img src="img/logo.jpg">
			</div>
			<div class="text">
				<p class="p1">海贝TV梦工厂<span><br>发布于 2017-4-30 北理海贝办公室</span></p>
			</div>
		</div>
		<div id="dis">
			<div id="dis-font">
				<p id="p2">糖水一杯</p>
				<p class="p3">书本一套，因为本人将要毕业，留下四年书本，笔记全有，产于计算机学院，有《java入门》，《C语言基础》，《微积分》，《大学物理》等全套书籍，全部转让，只需糖水一杯，关键是认识师妹。</p>
			</div>
			<div id="dis-pic">
				<img id="img1" src="img/picture.jpg">
				<img id="img2" src="img/picture2.jpg">
			</div>
		</div>
		<hr>
		<p id="p4">交易方式：面基喝糖水</p>
	</div>
	<div id="pass"></div>
	<div id="communicate">
		<div id="ct"><div id="ci"></div>&nbsp;&nbsp;留言:5</div>
		<div id="tempolate">
			<hr>
			<div class="picc">
			<div class="pic">
				<img src="img/head-img.png">
			</div>
			<div class="text">
				<p>JJJJB<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10分钟前</span></p>
				<p class="p3">我真心想要，41栋糖水约起</p>
			</div>
		</div>
		</div>
		<div id="tempolate">
			<hr>
			<div class="picc">
			<div class="pic">
				<img src="img/3.png">
			</div>
			<div class="text">
				<p>部长<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10分钟前</span></p>
				<p class="p3">测试结果咋样?</p>
			</div>
		</div>
		</div>
		<div id="tempolate">
			<hr>
			<div class="picc">
			<div class="pic">
				<img src="img/4.png">
			</div>
			<div class="text">
				<p>永康<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10分钟前</span></p>
				<p class="p3">我要接后端了</p>
			</div>
		</div>
		</div>
		<div id="tempolate">
			<hr>
			<div class="picc">
			<div class="pic">
				<img src="img/touxaing.jpg">
			</div>
			<div class="text">
				<p>邱浩<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10分钟前</span></p>
				<p class="p3">后端批量删除搞定</p>
			</div>
		</div>
		</div>
		<div id="tempolate">
			<hr>
			<div class="picc">
			<div class="pic">
				<img src="img/head-img.png">
			</div>
			<div class="text">
				<p>曾杰<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10分钟前</span></p>
				<p class="p3">前端加油，哈哈哈哈哈</p>
			</div>
		</div>
		</div>
	</div>
	<div class="h"></div>
	<footer>
		<div class="menu">
	    	<img src="img/h1.jpg">
	        <p>回复</p>
	    </div>
		<div class="menu">
	    	<img src="img/rcm.png">
	        <p>点赞</p>
	    </div>
		<div class="menuo">
	        <p>聊一聊</p>
	    </div>
	</footer>
</body>
</html>